<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>CFBundleDevelopmentRegion</key>
 <string>English</string>
 <key>CFBundleExecutable</key>
 <string>${EXECUTABLE_NAME}</string>
 <key>CFBundleIconFile</key>
 <string>application_icns</string>
 <key>CFBundleIdentifier</key>
 <string>fr.irccyn.str.goil</string>
 <key>CFBundleInfoDictionaryVersion</key>
 <string>6.0</string>
 <key>CFBundleName</key>
 <string>${PRODUCT_NAME}</string>
 <key>CFBundlePackageType</key>
 <string>APPL</string>
 <key>CFBundleSignature</key>
 <string>????</string>
 <key>LSMinimumSystemVersion</key>
 <string>10.6</string>
 <key>CFBundleShortVersionString</key>
 <string>3.1.0</string>
 <key>NSMainNibFile</key>
 <string>MainMenu</string>
 <key>NSPrincipalClass</key>
 <string>NSApplication</string>
 <key>CFBundleDocumentTypes</key>
 <array>
  <dict>
   <key>CFBundleTypeIconFile</key>
   <string>OIL_icns</string>
   <key>CFBundleTypeExtensions</key>
   <array>
    <string>OIL</string>
   </array>
   <key>CFBundleTypeName</key>
   <string>goil Source</string>
   <key>CFBundleTypeOSTypes</key>
   <array>
    <string>TEXT</string>
   </array>
   <key>CFBundleTypeRole</key>
   <string>Editor</string>
   <key>LSTypeIsPackage</key>
   <false/>
   <key>NSDocumentClass</key>
   <string>OC_GGS_Document</string>
  </dict>
  <dict>
   <key>CFBundleTypeIconFile</key>
   <string>arxml_icns</string>
   <key>CFBundleTypeExtensions</key>
   <array>
    <string>arxml</string>
   </array>
   <key>CFBundleTypeName</key>
   <string>goil Source</string>
   <key>CFBundleTypeOSTypes</key>
   <array>
    <string>TEXT</string>
   </array>
   <key>CFBundleTypeRole</key>
   <string>Editor</string>
   <key>LSTypeIsPackage</key>
   <false/>
   <key>NSDocumentClass</key>
   <string>OC_GGS_Document</string>
  </dict>
  <dict>
   <key>CFBundleTypeIconFile</key>
   <string>goilTemplate_icns</string>
   <key>CFBundleTypeExtensions</key>
   <array>
    <string>goilTemplate</string>
   </array>
   <key>CFBundleTypeName</key>
   <string>goil Source</string>
   <key>CFBundleTypeOSTypes</key>
   <array>
    <string>TEXT</string>
   </array>
   <key>CFBundleTypeRole</key>
   <string>Editor</string>
   <key>LSTypeIsPackage</key>
   <false/>
   <key>NSDocumentClass</key>
   <string>OC_GGS_Document</string>
  </dict>
  <dict>
   <key>CFBundleTypeIconFile</key>
   <string>oil_icns</string>
   <key>CFBundleTypeExtensions</key>
   <array>
    <string>oil</string>
   </array>
   <key>CFBundleTypeName</key>
   <string>goil Source</string>
   <key>CFBundleTypeOSTypes</key>
   <array>
    <string>TEXT</string>
   </array>
   <key>CFBundleTypeRole</key>
   <string>Editor</string>
   <key>LSTypeIsPackage</key>
   <false/>
   <key>NSDocumentClass</key>
   <string>OC_GGS_Document</string>
  </dict>

 </array>
</dict>
</plist>
