# Auto detect text files not listed here for normalization
* text=auto

# Files that must be normalized to lf format
*.c             text eol=lf
*.cpp           text eol=lf
*.h             text eol=lf
*.s             text eol=lf
*.S             text eol=lf
*.py            text eol=lf
*.tex           text eol=lf
*.ld            text eol=lf
*.lds           text eol=lf
*.asm           text eol=lf
*.goilTemplate  text eol=lf
*.oil           text eol=lf
*.galgas        text eol=lf
*.galgasProject text eol=lf
*.sh            text eol=lf
*.t32           text eol=lf
*.cmm           text eol=lf
*.md            text eol=lf
*.txt           text eol=lf
*.properties    text eol=lf
*.html          text eol=lf

# Files that must be normalized to crlf format
#*.bat           text eol=crlf

# Files that must stay untouched
*.a     binary
*.bmp   binary
*.elf   binary
*.gif   binary
*.icns  binary
*.idx   binary
*.lib   binary
*.pack  binary
*.pdf   binary
*.png   binary
*.tiff  binary
*.hex   binary
*.rtf   binary
*.xcuserstate  binary

