[submodule "machines/avr/arduino"]
	path = machines/avr/arduino
	url = https://github.com/TrampolineRTOS/ArduinoCore-avr.git
[submodule "machines/riscv/pulpino/pulpino"]
	path = machines/riscv/pulpino/pulpino
	url = https://github.com/Instrumented-Pulpino/pulpino.git	
[submodule "libraries/net/ethernet/lwip"]
	path = libraries/net/ethernet/lwip
	url = https://git.savannah.nongnu.org/git/lwip.git
[submodule "goil/galgas-sources/GTL"]
	path = goil/galgas-sources/GTL
	url = https://github.com/TrampolineRTOS/GTL.git
