<Configuration>
	<Name>Trace Bin</Name>
	<Version>1.3.7</Version>
	<Comments>Save Decoded Event Trace to a Binary File</Comments>
	<ConfigBlock>
		<Name>Data Trace</Name>
		<BoolAttribute>
			<Name>Enabled</Name>
			<DefaultValue>false</DefaultValue>
		</BoolAttribute>
		<EnumAttribute>
			<Name>Type</Name>
			<DefaultValue>Continuous</DefaultValue>
			<EnumValues>Continuous,Overwrite,Sampling</EnumValues>
		</EnumAttribute>
	</ConfigBlock>
	<ConfigBlock>
		<Name>General Config</Name>
		<EnumAttribute>
			<Name>Target Name</Name>
			<DefaultValue>56xx</DefaultValue>
			<EnumValues>Arm,Hcs08,Cfv1,PA,56xx,DSC,Sc3900,Any</EnumValues>
		</EnumAttribute>
		<FloatAttribute>
			<Name>CPU clock frequency</Name>
			<DefaultValue>50</DefaultValue>
		</FloatAttribute>
		<EnumAttribute>
			<Name>Time Unit</Name>
			<DefaultValue>Cycles</DefaultValue>
			<EnumValues>Cycles,Nanoseconds,Milliseconds,Microseconds</EnumValues>
		</EnumAttribute>
		<EnumAttribute>
			<Name>Time Radix</Name>
			<DefaultValue>Decimal</DefaultValue>
			<EnumValues>Decimal,Hexadecimal</EnumValues>
		</EnumAttribute>
		<EnumAttribute>
			<Name>Time Value Type</Name>
			<DefaultValue>Absolute</DefaultValue>
			<EnumValues>Absolute,Delta</EnumValues>
		</EnumAttribute>
	</ConfigBlock>
	<ConfigBlock>
		<Name>Output</Name>
		<PathAttribute>
			<Name>Output Path</Name>
			<DefaultValue>Z:\mohamed.sassi\git\trampoline-for-mpc-f\MPC5674F_Trampoline_TwirteeAppli/.Analysis Data</DefaultValue>
		</PathAttribute>
		<FileAttribute>
			<Name>Base File Name</Name>
			<DefaultValue>Test_Default_Project_FLASH_PnE USB-ML-PPCNEXUS</DefaultValue>
		</FileAttribute>
		<FileAttribute>
			<Name>Config File Extension</Name>
			<DefaultValue>config</DefaultValue>
		</FileAttribute>
		<FileAttribute>
			<Name>Trace File Extension</Name>
			<DefaultValue>trace</DefaultValue>
		</FileAttribute>
		<FileAttribute>
			<Name>Frames File Extension</Name>
			<DefaultValue>frames</DefaultValue>
		</FileAttribute>
		<FileAttribute>
			<Name>TraceDataSet File Extension</Name>
			<DefaultValue>dataset</DefaultValue>
		</FileAttribute>
		<FileAttribute>
			<Name>Description File Extension</Name>
			<DefaultValue>desc</DefaultValue>
		</FileAttribute>
	</ConfigBlock>
	<ConfigBlock>
		<Name>Path Mappings</Name>
		<ConfigBlock>
			<Name>Mapping 0</Name>
			<FileAttribute>
				<Name>Source</Name>
				<DefaultValue></DefaultValue>
			</FileAttribute>
			<FileAttribute>
				<Name>Destination</Name>
				<DefaultValue></DefaultValue>
			</FileAttribute>
		</ConfigBlock>
		<ConfigBlock>
			<Name>Mapping 1</Name>
			<FileAttribute>
				<Name>Source</Name>
				<DefaultValue></DefaultValue>
			</FileAttribute>
			<FileAttribute>
				<Name>Destination</Name>
				<DefaultValue></DefaultValue>
			</FileAttribute>
		</ConfigBlock>
		<ConfigBlock>
			<Name>Mapping 2</Name>
			<FileAttribute>
				<Name>Source</Name>
				<DefaultValue></DefaultValue>
			</FileAttribute>
			<FileAttribute>
				<Name>Destination</Name>
				<DefaultValue></DefaultValue>
			</FileAttribute>
		</ConfigBlock>
		<ConfigBlock>
			<Name>Mapping 3</Name>
			<FileAttribute>
				<Name>Source</Name>
				<DefaultValue></DefaultValue>
			</FileAttribute>
			<FileAttribute>
				<Name>Destination</Name>
				<DefaultValue></DefaultValue>
			</FileAttribute>
		</ConfigBlock>
	</ConfigBlock>
	<ConfigBlock>
		<Name>Program Trace</Name>
		<BoolAttribute>
			<Name>Enabled</Name>
			<DefaultValue>true</DefaultValue>
		</BoolAttribute>
		<EnumAttribute>
			<Name>Type</Name>
			<DefaultValue>Overwrite</DefaultValue>
			<EnumValues>Continuous,Overwrite,Sampling</EnumValues>
		</EnumAttribute>
		<BoolAttribute>
			<Name>Buffer Roll Over</Name>
			<DefaultValue>false</DefaultValue>
		</BoolAttribute>
		<EnumAttribute>
			<Name>Decoded Granularity</Name>
			<ReadOnly>true</ReadOnly>
			<DefaultValue>Instruction</DefaultValue>
			<EnumValues>Function,Branch,Instruction</EnumValues>
		</EnumAttribute>
		<EnumAttribute>
			<Name>Stored Granularity</Name>
			<ReadOnly>true</ReadOnly>
			<DefaultValue>Instruction</DefaultValue>
			<EnumValues>Function,Branch,Instruction</EnumValues>
		</EnumAttribute>
		<BoolAttribute>
			<Name>Mmu Enabled</Name>
			<DefaultValue>false</DefaultValue>
		</BoolAttribute>
		<BoolAttribute>
			<Name>Has Metrics</Name>
			<DefaultValue>false</DefaultValue>
		</BoolAttribute>
		<ConfigBlock>
			<Name>Stored Records</Name>
			<StringAttribute>
				<Name>Record Type</Name>
				<DefaultValue>GenericBinaryTraceRec</DefaultValue>
			</StringAttribute>
			<StringAttribute>
				<Name>Event Id Type</Name>
				<DefaultValue>McuEventId</DefaultValue>
			</StringAttribute>
			<UInt32Attribute>
				<Name>Address Size</Name>
				<DefaultValue>4</DefaultValue>
			</UInt32Attribute>
			<UInt32Attribute>
				<Name>Absolute Timestamp Size</Name>
				<DefaultValue>8</DefaultValue>
			</UInt32Attribute>
			<UInt32Attribute>
				<Name>Delta Timestamp Size</Name>
				<DefaultValue>2</DefaultValue>
			</UInt32Attribute>
			<UInt32Attribute>
				<Name>Absolute Raw Trace Index Size</Name>
				<DefaultValue>4</DefaultValue>
			</UInt32Attribute>
			<UInt32Attribute>
				<Name>Delta Raw Trace Index Size</Name>
				<DefaultValue>1</DefaultValue>
			</UInt32Attribute>
			<UInt32Attribute>
				<Name>Raw Trace Offset Size</Name>
				<DefaultValue>0</DefaultValue>
			</UInt32Attribute>
			<UInt32Attribute>
				<Name>Number Of Alternate Metrics</Name>
				<DefaultValue>0</DefaultValue>
			</UInt32Attribute>
			<UInt32Attribute>
				<Name>Absolute Alternate Metric Size</Name>
				<DefaultValue>4</DefaultValue>
			</UInt32Attribute>
			<UInt32Attribute>
				<Name>Delta Alternate Metric Size</Name>
				<DefaultValue>1</DefaultValue>
			</UInt32Attribute>
			<UInt32Attribute>
				<Name>Context Id Size</Name>
				<DefaultValue>2</DefaultValue>
			</UInt32Attribute>
			<UInt32Attribute>
				<Name>Execution History Count Size</Name>
				<DefaultValue>1</DefaultValue>
			</UInt32Attribute>
		</ConfigBlock>
		<ConfigBlock>
			<Name>Stored Trace</Name>
			<BoolAttribute>
				<Name>Use Raw Trace</Name>
				<ReadOnly>true</ReadOnly>
				<DefaultValue>false</DefaultValue>
			</BoolAttribute>
			<BoolAttribute>
				<Name>Use Execution History</Name>
				<ReadOnly>true</ReadOnly>
				<DefaultValue>true</DefaultValue>
			</BoolAttribute>
			<BoolAttribute>
				<Name>Use Execution History Timestamp</Name>
				<ReadOnly>true</ReadOnly>
				<DefaultValue>true</DefaultValue>
			</BoolAttribute>
			<BoolAttribute>
				<Name>Use Frames</Name>
				<ReadOnly>true</ReadOnly>
				<DefaultValue>true</DefaultValue>
			</BoolAttribute>
			<UInt32Attribute>
				<Name>Stored Records Per Frame</Name>
				<ReadOnly>true</ReadOnly>
				<DefaultValue>100</DefaultValue>
			</UInt32Attribute>
			<UInt32Attribute>
				<Name>Number Of Frames</Name>
				<DefaultValue>1</DefaultValue>
			</UInt32Attribute>
			<UInt64Attribute>
				<Name>Number Of Decoded Events</Name>
				<DefaultValue>32</DefaultValue>
			</UInt64Attribute>
			<UInt64Attribute>
				<Name>Number Of Stored Records</Name>
				<DefaultValue>32</DefaultValue>
			</UInt64Attribute>
		</ConfigBlock>
	</ConfigBlock>
	<ConfigBlock>
		<Name>Target Images</Name>
		<BoolAttribute>
			<Name>Filename Only</Name>
			<DefaultValue>true</DefaultValue>
		</BoolAttribute>
		<FileAttribute>
			<Name>Image 0</Name>
			<DefaultValue>Test_Default_Project_FLASH_PnE USB-ML-PPCNEXUS_0.elf</DefaultValue>
		</FileAttribute>
		<FileAttribute>
			<Name>Image 1</Name>
			<DefaultValue>Test_Default_Project_FLASH_PnE USB-ML-PPCNEXUS_0.elf</DefaultValue>
		</FileAttribute>
		<FileAttribute>
			<Name>Image 2</Name>
			<DefaultValue>Test_Default_Project_FLASH_PnE USB-ML-PPCNEXUS_0.elf</DefaultValue>
		</FileAttribute>
		<FileAttribute>
			<Name>Image 3</Name>
			<DefaultValue>Test_Default_Project_FLASH_PnE USB-ML-PPCNEXUS_0.elf</DefaultValue>
		</FileAttribute>
	</ConfigBlock>
</Configuration>
