pyserial
mbed-ls
mbed-cli
termcolor
mercurial
pyelftools == 0.29
pyyaml
jsonschema
jinja2
mbed_host_tests
mbed_greentea
pycryptodome
pyusb
cmsis_pack_manager
psutil
cryptography
click
cbor
numpy
packaging
tensorflow
tf-keras ~= 2.16