bench/
build_*/
TODO.txt
olddesc.txt
oldprocessTests.py
shortdesc.txt
TestScripts/__pycache__/
FullBenchmark/
Output/
GeneratedInclude/
GeneratedSource/
GeneratedIncludeBench/
GeneratedSourceBench/
*.db
TestDesc.txt
currentConfig.csv
test.txt
__pycache__
bugcheck.py
fulltests/
testUNIXrunConfig.yaml
Objects/
Listings/
*.scvd
Tmp/
.ARMCM55_ac6.sct@*
.startup_ARMCM55.c@*
.system_ARMCM55.c@*
.*@*
dspenv/
dspenv_aarch64/
.clangd
*.dbgconf
*.cbuild-set.yml 
